* {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(39, 39, 39);
    color: white;
}

.filter-bg {
    width: 250px;
    height: 50px;
    text-align: center;
    height: 400px;
    overflow-y: auto;
    overflow-x: visible;
    box-shadow: 0 0 20px 5px black;
    padding: 0 10px 10px 10px;
}

.filter-input {
    outline: none;
    color: white;
    background: none;
    border: solid 1px rgb(180, 180, 180);
    border-radius: 5px;
    border-radius: 5px;
    height: 35px;
    width: 200px;
    padding: 0 10px;
}

.filter-input-parent {
    position: sticky;
    top: 0;
    background-color: rgb(39, 39, 39);
    padding: 15px 0;
}

.filter-option {
    width: 100%;
    height: 40px;
    margin: 2px 0;
    outline: none;
    border: none;
    background: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.filter-btn {
    width: 120px;
    height: 35px;
    cursor: pointer;
    outline: none;
    border: solid 1px rgb(180, 180, 180);
    border-radius: 5px;
    background: none;
    color: white;
}

.filter-option:hover {
    background-color: rgb(77, 77, 77);
}

h3 {
    font-weight: 400;
    font-size: 40px;
    margin: 0;
}

h4 {
    font-weight: 400;
    color: rgb(209, 209, 209);
    margin: 0;
    font-size: 30px;
}

p {
    margin: 0;
}

.case-data {
    width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 20px;
}
